/*=======================================
            Colors - Start
=======================================*/
$color_primary-default: #07043B;
$color_primary-light: #575988;

$color_button-default: #2F65F8;
$color_button-active: #6C9BFF;

$color_bg: #F8F8FE;

$color_external-default: #3DA08F;
$color_external-active: #71DFCC;

$color_link-default: #ffffff;
$color_link-active: #6C9BFF;

$color_text: #ffffff;

/*=======================================
            Colors - End
=======================================*/