/*=======================================
                 Base 
=======================================*/
/*=======================================
              Reset - Start
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======================================
              Reset - End
=======================================*/
/*=======================================
            Typography - Start
=======================================*/
/*=======================================
        Open Sans - from Google Font
=======================================*/
/*=======================================
       Raleway - from Google Font
=======================================*/
/*=======================================
   Font Details - from FrontEnd Mentor
=======================================*/
/*=======================================
             Typography - End
=======================================*/
/*=======================================
                Abstract 
=======================================*/
/*=======================================
            Variables - Start
=======================================*/
/*=======================================
            Variables - End
=======================================*/
/*=======================================
            Colors - Start
=======================================*/
/*=======================================
            Colors - End
=======================================*/
/*=======================================
            Mixins - Start 
=======================================*/
/*=======================================
            Mixins - End 
=======================================*/
/*=======================================
                Layout 
=======================================*/
/*=======================================
              Grid - Start 
=======================================*/
.col-1 {
  position: relative;
  width: calc((100%/12)*1) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-2 {
  position: relative;
  width: calc((100%/12)*2) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-3 {
  position: relative;
  width: calc((100%/12)*3) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-4 {
  position: relative;
  width: calc((100%/12)*4) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-5 {
  position: relative;
  width: calc((100%/12)*5) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-6 {
  position: relative;
  width: calc((100%/12)*6) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-7 {
  position: relative;
  width: calc((100%/12)*7) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-8 {
  position: relative;
  width: calc((100%/12)*8) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-9 {
  position: relative;
  width: calc((100%/12)*9) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-10 {
  position: relative;
  width: calc((100%/12)*10) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-11 {
  position: relative;
  width: calc((100%/12)*11) !important;
  box-sizing: border-box;
  padding: 15px;
}

.col-12 {
  position: relative;
  width: calc((100%/12)*12) !important;
  box-sizing: border-box;
  padding: 15px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-sm-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-md-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .col-lg-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    box-sizing: border-box;
    padding: 15px;
  }
}

/*=======================================
              Grid - End
=======================================*/
/*=======================================
              Flex - Start 
=======================================*/
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*=======================================
              Flex - End
=======================================*/
/*=======================================
              Border - Start
=======================================*/
.border {
  border: 2px solid red;
}

/*=======================================
              Border - End
=======================================*/
/*=======================================
            Margins - Start 
=======================================*/
.m-1 {
  margin: calc(0.5rem * 1) !important;
}

.m-2 {
  margin: calc(0.5rem * 2) !important;
}

.m-3 {
  margin: calc(0.5rem * 3) !important;
}

.m-4 {
  margin: calc(0.5rem * 4) !important;
}

.m-5 {
  margin: calc(0.5rem * 5) !important;
}

.m-6 {
  margin: calc(0.5rem * 6) !important;
}

.m-7 {
  margin: calc(0.5rem * 7) !important;
}

.m-8 {
  margin: calc(0.5rem * 8) !important;
}

.m-9 {
  margin: calc(0.5rem * 9) !important;
}

.m-10 {
  margin: calc(0.5rem * 10) !important;
}

.m-11 {
  margin: calc(0.5rem * 11) !important;
}

.m-12 {
  margin: calc(0.5rem * 12) !important;
}

.m-13 {
  margin: calc(0.5rem * 13) !important;
}

.m-14 {
  margin: calc(0.5rem * 14) !important;
}

.m-15 {
  margin: calc(0.5rem * 15) !important;
}

.m-16 {
  margin: calc(0.5rem * 16) !important;
}

.m-17 {
  margin: calc(0.5rem * 17) !important;
}

.m-18 {
  margin: calc(0.5rem * 18) !important;
}

.m-19 {
  margin: calc(0.5rem * 19) !important;
}

.m-20 {
  margin: calc(0.5rem * 20) !important;
}

.mx-1 {
  margin: 0px calc(0.5rem * 1) !important;
}

.mx-2 {
  margin: 0px calc(0.5rem * 2) !important;
}

.mx-3 {
  margin: 0px calc(0.5rem * 3) !important;
}

.mx-4 {
  margin: 0px calc(0.5rem * 4) !important;
}

.mx-5 {
  margin: 0px calc(0.5rem * 5) !important;
}

.mx-6 {
  margin: 0px calc(0.5rem * 6) !important;
}

.mx-7 {
  margin: 0px calc(0.5rem * 7) !important;
}

.mx-8 {
  margin: 0px calc(0.5rem * 8) !important;
}

.mx-9 {
  margin: 0px calc(0.5rem * 9) !important;
}

.mx-10 {
  margin: 0px calc(0.5rem * 10) !important;
}

.mx-11 {
  margin: 0px calc(0.5rem * 11) !important;
}

.mx-12 {
  margin: 0px calc(0.5rem * 12) !important;
}

.mx-13 {
  margin: 0px calc(0.5rem * 13) !important;
}

.mx-14 {
  margin: 0px calc(0.5rem * 14) !important;
}

.mx-15 {
  margin: 0px calc(0.5rem * 15) !important;
}

.mx-16 {
  margin: 0px calc(0.5rem * 16) !important;
}

.mx-17 {
  margin: 0px calc(0.5rem * 17) !important;
}

.mx-18 {
  margin: 0px calc(0.5rem * 18) !important;
}

.mx-19 {
  margin: 0px calc(0.5rem * 19) !important;
}

.mx-20 {
  margin: 0px calc(0.5rem * 20) !important;
}

.my-1 {
  margin: calc(0.5rem * 1) 0px !important;
}

.my-2 {
  margin: calc(0.5rem * 2) 0px !important;
}

.my-3 {
  margin: calc(0.5rem * 3) 0px !important;
}

.my-4 {
  margin: calc(0.5rem * 4) 0px !important;
}

.my-5 {
  margin: calc(0.5rem * 5) 0px !important;
}

.my-6 {
  margin: calc(0.5rem * 6) 0px !important;
}

.my-7 {
  margin: calc(0.5rem * 7) 0px !important;
}

.my-8 {
  margin: calc(0.5rem * 8) 0px !important;
}

.my-9 {
  margin: calc(0.5rem * 9) 0px !important;
}

.my-10 {
  margin: calc(0.5rem * 10) 0px !important;
}

.my-11 {
  margin: calc(0.5rem * 11) 0px !important;
}

.my-12 {
  margin: calc(0.5rem * 12) 0px !important;
}

.my-13 {
  margin: calc(0.5rem * 13) 0px !important;
}

.my-14 {
  margin: calc(0.5rem * 14) 0px !important;
}

.my-15 {
  margin: calc(0.5rem * 15) 0px !important;
}

.my-16 {
  margin: calc(0.5rem * 16) 0px !important;
}

.my-17 {
  margin: calc(0.5rem * 17) 0px !important;
}

.my-18 {
  margin: calc(0.5rem * 18) 0px !important;
}

.my-19 {
  margin: calc(0.5rem * 19) 0px !important;
}

.my-20 {
  margin: calc(0.5rem * 20) 0px !important;
}

.mt-1 {
  margin-top: calc(0.5rem * 1) !important;
}

.mt-2 {
  margin-top: calc(0.5rem * 2) !important;
}

.mt-3 {
  margin-top: calc(0.5rem * 3) !important;
}

.mt-4 {
  margin-top: calc(0.5rem * 4) !important;
}

.mt-5 {
  margin-top: calc(0.5rem * 5) !important;
}

.mt-6 {
  margin-top: calc(0.5rem * 6) !important;
}

.mt-7 {
  margin-top: calc(0.5rem * 7) !important;
}

.mt-8 {
  margin-top: calc(0.5rem * 8) !important;
}

.mt-9 {
  margin-top: calc(0.5rem * 9) !important;
}

.mt-10 {
  margin-top: calc(0.5rem * 10) !important;
}

.mt-11 {
  margin-top: calc(0.5rem * 11) !important;
}

.mt-12 {
  margin-top: calc(0.5rem * 12) !important;
}

.mt-13 {
  margin-top: calc(0.5rem * 13) !important;
}

.mt-14 {
  margin-top: calc(0.5rem * 14) !important;
}

.mt-15 {
  margin-top: calc(0.5rem * 15) !important;
}

.mt-16 {
  margin-top: calc(0.5rem * 16) !important;
}

.mt-17 {
  margin-top: calc(0.5rem * 17) !important;
}

.mt-18 {
  margin-top: calc(0.5rem * 18) !important;
}

.mt-19 {
  margin-top: calc(0.5rem * 19) !important;
}

.mt-20 {
  margin-top: calc(0.5rem * 20) !important;
}

.mr-1 {
  margin-right: calc(0.5rem * 1) !important;
}

.mr-2 {
  margin-right: calc(0.5rem * 2) !important;
}

.mr-3 {
  margin-right: calc(0.5rem * 3) !important;
}

.mr-4 {
  margin-right: calc(0.5rem * 4) !important;
}

.mr-5 {
  margin-right: calc(0.5rem * 5) !important;
}

.mr-6 {
  margin-right: calc(0.5rem * 6) !important;
}

.mr-7 {
  margin-right: calc(0.5rem * 7) !important;
}

.mr-8 {
  margin-right: calc(0.5rem * 8) !important;
}

.mr-9 {
  margin-right: calc(0.5rem * 9) !important;
}

.mr-10 {
  margin-right: calc(0.5rem * 10) !important;
}

.mr-11 {
  margin-right: calc(0.5rem * 11) !important;
}

.mr-12 {
  margin-right: calc(0.5rem * 12) !important;
}

.mr-13 {
  margin-right: calc(0.5rem * 13) !important;
}

.mr-14 {
  margin-right: calc(0.5rem * 14) !important;
}

.mr-15 {
  margin-right: calc(0.5rem * 15) !important;
}

.mr-16 {
  margin-right: calc(0.5rem * 16) !important;
}

.mr-17 {
  margin-right: calc(0.5rem * 17) !important;
}

.mr-18 {
  margin-right: calc(0.5rem * 18) !important;
}

.mr-19 {
  margin-right: calc(0.5rem * 19) !important;
}

.mr-20 {
  margin-right: calc(0.5rem * 20) !important;
}

.mb-1 {
  margin-bottom: calc(0.5rem * 1) !important;
}

.mb-2 {
  margin-bottom: calc(0.5rem * 2) !important;
}

.mb-3 {
  margin-bottom: calc(0.5rem * 3) !important;
}

.mb-4 {
  margin-bottom: calc(0.5rem * 4) !important;
}

.mb-5 {
  margin-bottom: calc(0.5rem * 5) !important;
}

.mb-6 {
  margin-bottom: calc(0.5rem * 6) !important;
}

.mb-7 {
  margin-bottom: calc(0.5rem * 7) !important;
}

.mb-8 {
  margin-bottom: calc(0.5rem * 8) !important;
}

.mb-9 {
  margin-bottom: calc(0.5rem * 9) !important;
}

.mb-10 {
  margin-bottom: calc(0.5rem * 10) !important;
}

.mb-11 {
  margin-bottom: calc(0.5rem * 11) !important;
}

.mb-12 {
  margin-bottom: calc(0.5rem * 12) !important;
}

.mb-13 {
  margin-bottom: calc(0.5rem * 13) !important;
}

.mb-14 {
  margin-bottom: calc(0.5rem * 14) !important;
}

.mb-15 {
  margin-bottom: calc(0.5rem * 15) !important;
}

.mb-16 {
  margin-bottom: calc(0.5rem * 16) !important;
}

.mb-17 {
  margin-bottom: calc(0.5rem * 17) !important;
}

.mb-18 {
  margin-bottom: calc(0.5rem * 18) !important;
}

.mb-19 {
  margin-bottom: calc(0.5rem * 19) !important;
}

.mb-20 {
  margin-bottom: calc(0.5rem * 20) !important;
}

.ml-1 {
  margin-left: calc(0.5rem * 1) !important;
}

.ml-2 {
  margin-left: calc(0.5rem * 2) !important;
}

.ml-3 {
  margin-left: calc(0.5rem * 3) !important;
}

.ml-4 {
  margin-left: calc(0.5rem * 4) !important;
}

.ml-5 {
  margin-left: calc(0.5rem * 5) !important;
}

.ml-6 {
  margin-left: calc(0.5rem * 6) !important;
}

.ml-7 {
  margin-left: calc(0.5rem * 7) !important;
}

.ml-8 {
  margin-left: calc(0.5rem * 8) !important;
}

.ml-9 {
  margin-left: calc(0.5rem * 9) !important;
}

.ml-10 {
  margin-left: calc(0.5rem * 10) !important;
}

.ml-11 {
  margin-left: calc(0.5rem * 11) !important;
}

.ml-12 {
  margin-left: calc(0.5rem * 12) !important;
}

.ml-13 {
  margin-left: calc(0.5rem * 13) !important;
}

.ml-14 {
  margin-left: calc(0.5rem * 14) !important;
}

.ml-15 {
  margin-left: calc(0.5rem * 15) !important;
}

.ml-16 {
  margin-left: calc(0.5rem * 16) !important;
}

.ml-17 {
  margin-left: calc(0.5rem * 17) !important;
}

.ml-18 {
  margin-left: calc(0.5rem * 18) !important;
}

.ml-19 {
  margin-left: calc(0.5rem * 19) !important;
}

.ml-20 {
  margin-left: calc(0.5rem * 20) !important;
}

/*=======================================
              Margins - End
=======================================*/
/*=======================================
            Paddings - Start
=======================================*/
.p-1 {
  padding: calc(0.5rem * 1) !important;
}

.p-2 {
  padding: calc(0.5rem * 2) !important;
}

.p-3 {
  padding: calc(0.5rem * 3) !important;
}

.p-4 {
  padding: calc(0.5rem * 4) !important;
}

.p-5 {
  padding: calc(0.5rem * 5) !important;
}

.p-6 {
  padding: calc(0.5rem * 6) !important;
}

.p-7 {
  padding: calc(0.5rem * 7) !important;
}

.p-8 {
  padding: calc(0.5rem * 8) !important;
}

.p-9 {
  padding: calc(0.5rem * 9) !important;
}

.p-10 {
  padding: calc(0.5rem * 10) !important;
}

.p-11 {
  padding: calc(0.5rem * 11) !important;
}

.p-12 {
  padding: calc(0.5rem * 12) !important;
}

.p-13 {
  padding: calc(0.5rem * 13) !important;
}

.p-14 {
  padding: calc(0.5rem * 14) !important;
}

.p-15 {
  padding: calc(0.5rem * 15) !important;
}

.p-16 {
  padding: calc(0.5rem * 16) !important;
}

.p-17 {
  padding: calc(0.5rem * 17) !important;
}

.p-18 {
  padding: calc(0.5rem * 18) !important;
}

.p-19 {
  padding: calc(0.5rem * 19) !important;
}

.p-20 {
  padding: calc(0.5rem * 20) !important;
}

.px-1 {
  padding: 0px calc(0.5rem * 1) !important;
}

.px-2 {
  padding: 0px calc(0.5rem * 2) !important;
}

.px-3 {
  padding: 0px calc(0.5rem * 3) !important;
}

.px-4 {
  padding: 0px calc(0.5rem * 4) !important;
}

.px-5 {
  padding: 0px calc(0.5rem * 5) !important;
}

.px-6 {
  padding: 0px calc(0.5rem * 6) !important;
}

.px-7 {
  padding: 0px calc(0.5rem * 7) !important;
}

.px-8 {
  padding: 0px calc(0.5rem * 8) !important;
}

.px-9 {
  padding: 0px calc(0.5rem * 9) !important;
}

.px-10 {
  padding: 0px calc(0.5rem * 10) !important;
}

.px-11 {
  padding: 0px calc(0.5rem * 11) !important;
}

.px-12 {
  padding: 0px calc(0.5rem * 12) !important;
}

.px-13 {
  padding: 0px calc(0.5rem * 13) !important;
}

.px-14 {
  padding: 0px calc(0.5rem * 14) !important;
}

.px-15 {
  padding: 0px calc(0.5rem * 15) !important;
}

.px-16 {
  padding: 0px calc(0.5rem * 16) !important;
}

.px-17 {
  padding: 0px calc(0.5rem * 17) !important;
}

.px-18 {
  padding: 0px calc(0.5rem * 18) !important;
}

.px-19 {
  padding: 0px calc(0.5rem * 19) !important;
}

.px-20 {
  padding: 0px calc(0.5rem * 20) !important;
}

.py-1 {
  padding: calc(0.5rem * 1) 0px !important;
}

.py-2 {
  padding: calc(0.5rem * 2) 0px !important;
}

.py-3 {
  padding: calc(0.5rem * 3) 0px !important;
}

.py-4 {
  padding: calc(0.5rem * 4) 0px !important;
}

.py-5 {
  padding: calc(0.5rem * 5) 0px !important;
}

.py-6 {
  padding: calc(0.5rem * 6) 0px !important;
}

.py-7 {
  padding: calc(0.5rem * 7) 0px !important;
}

.py-8 {
  padding: calc(0.5rem * 8) 0px !important;
}

.py-9 {
  padding: calc(0.5rem * 9) 0px !important;
}

.py-10 {
  padding: calc(0.5rem * 10) 0px !important;
}

.py-11 {
  padding: calc(0.5rem * 11) 0px !important;
}

.py-12 {
  padding: calc(0.5rem * 12) 0px !important;
}

.py-13 {
  padding: calc(0.5rem * 13) 0px !important;
}

.py-14 {
  padding: calc(0.5rem * 14) 0px !important;
}

.py-15 {
  padding: calc(0.5rem * 15) 0px !important;
}

.py-16 {
  padding: calc(0.5rem * 16) 0px !important;
}

.py-17 {
  padding: calc(0.5rem * 17) 0px !important;
}

.py-18 {
  padding: calc(0.5rem * 18) 0px !important;
}

.py-19 {
  padding: calc(0.5rem * 19) 0px !important;
}

.py-20 {
  padding: calc(0.5rem * 20) 0px !important;
}

.pt-1 {
  padding-top: calc(0.5rem * 1) !important;
}

.pt-2 {
  padding-top: calc(0.5rem * 2) !important;
}

.pt-3 {
  padding-top: calc(0.5rem * 3) !important;
}

.pt-4 {
  padding-top: calc(0.5rem * 4) !important;
}

.pt-5 {
  padding-top: calc(0.5rem * 5) !important;
}

.pt-6 {
  padding-top: calc(0.5rem * 6) !important;
}

.pt-7 {
  padding-top: calc(0.5rem * 7) !important;
}

.pt-8 {
  padding-top: calc(0.5rem * 8) !important;
}

.pt-9 {
  padding-top: calc(0.5rem * 9) !important;
}

.pt-10 {
  padding-top: calc(0.5rem * 10) !important;
}

.pt-11 {
  padding-top: calc(0.5rem * 11) !important;
}

.pt-12 {
  padding-top: calc(0.5rem * 12) !important;
}

.pt-13 {
  padding-top: calc(0.5rem * 13) !important;
}

.pt-14 {
  padding-top: calc(0.5rem * 14) !important;
}

.pt-15 {
  padding-top: calc(0.5rem * 15) !important;
}

.pt-16 {
  padding-top: calc(0.5rem * 16) !important;
}

.pt-17 {
  padding-top: calc(0.5rem * 17) !important;
}

.pt-18 {
  padding-top: calc(0.5rem * 18) !important;
}

.pt-19 {
  padding-top: calc(0.5rem * 19) !important;
}

.pt-20 {
  padding-top: calc(0.5rem * 20) !important;
}

.pr-1 {
  padding-right: calc(0.5rem * 1) !important;
}

.pr-2 {
  padding-right: calc(0.5rem * 2) !important;
}

.pr-3 {
  padding-right: calc(0.5rem * 3) !important;
}

.pr-4 {
  padding-right: calc(0.5rem * 4) !important;
}

.pr-5 {
  padding-right: calc(0.5rem * 5) !important;
}

.pr-6 {
  padding-right: calc(0.5rem * 6) !important;
}

.pr-7 {
  padding-right: calc(0.5rem * 7) !important;
}

.pr-8 {
  padding-right: calc(0.5rem * 8) !important;
}

.pr-9 {
  padding-right: calc(0.5rem * 9) !important;
}

.pr-10 {
  padding-right: calc(0.5rem * 10) !important;
}

.pr-11 {
  padding-right: calc(0.5rem * 11) !important;
}

.pr-12 {
  padding-right: calc(0.5rem * 12) !important;
}

.pr-13 {
  padding-right: calc(0.5rem * 13) !important;
}

.pr-14 {
  padding-right: calc(0.5rem * 14) !important;
}

.pr-15 {
  padding-right: calc(0.5rem * 15) !important;
}

.pr-16 {
  padding-right: calc(0.5rem * 16) !important;
}

.pr-17 {
  padding-right: calc(0.5rem * 17) !important;
}

.pr-18 {
  padding-right: calc(0.5rem * 18) !important;
}

.pr-19 {
  padding-right: calc(0.5rem * 19) !important;
}

.pr-20 {
  padding-right: calc(0.5rem * 20) !important;
}

.pb-1 {
  padding-bottom: calc(0.5rem * 1) !important;
}

.pb-2 {
  padding-bottom: calc(0.5rem * 2) !important;
}

.pb-3 {
  padding-bottom: calc(0.5rem * 3) !important;
}

.pb-4 {
  padding-bottom: calc(0.5rem * 4) !important;
}

.pb-5 {
  padding-bottom: calc(0.5rem * 5) !important;
}

.pb-6 {
  padding-bottom: calc(0.5rem * 6) !important;
}

.pb-7 {
  padding-bottom: calc(0.5rem * 7) !important;
}

.pb-8 {
  padding-bottom: calc(0.5rem * 8) !important;
}

.pb-9 {
  padding-bottom: calc(0.5rem * 9) !important;
}

.pb-10 {
  padding-bottom: calc(0.5rem * 10) !important;
}

.pb-11 {
  padding-bottom: calc(0.5rem * 11) !important;
}

.pb-12 {
  padding-bottom: calc(0.5rem * 12) !important;
}

.pb-13 {
  padding-bottom: calc(0.5rem * 13) !important;
}

.pb-14 {
  padding-bottom: calc(0.5rem * 14) !important;
}

.pb-15 {
  padding-bottom: calc(0.5rem * 15) !important;
}

.pb-16 {
  padding-bottom: calc(0.5rem * 16) !important;
}

.pb-17 {
  padding-bottom: calc(0.5rem * 17) !important;
}

.pb-18 {
  padding-bottom: calc(0.5rem * 18) !important;
}

.pb-19 {
  padding-bottom: calc(0.5rem * 19) !important;
}

.pb-20 {
  padding-bottom: calc(0.5rem * 20) !important;
}

.pl-1 {
  padding-left: calc(0.5rem * 1) !important;
}

.pl-2 {
  padding-left: calc(0.5rem * 2) !important;
}

.pl-3 {
  padding-left: calc(0.5rem * 3) !important;
}

.pl-4 {
  padding-left: calc(0.5rem * 4) !important;
}

.pl-5 {
  padding-left: calc(0.5rem * 5) !important;
}

.pl-6 {
  padding-left: calc(0.5rem * 6) !important;
}

.pl-7 {
  padding-left: calc(0.5rem * 7) !important;
}

.pl-8 {
  padding-left: calc(0.5rem * 8) !important;
}

.pl-9 {
  padding-left: calc(0.5rem * 9) !important;
}

.pl-10 {
  padding-left: calc(0.5rem * 10) !important;
}

.pl-11 {
  padding-left: calc(0.5rem * 11) !important;
}

.pl-12 {
  padding-left: calc(0.5rem * 12) !important;
}

.pl-13 {
  padding-left: calc(0.5rem * 13) !important;
}

.pl-14 {
  padding-left: calc(0.5rem * 14) !important;
}

.pl-15 {
  padding-left: calc(0.5rem * 15) !important;
}

.pl-16 {
  padding-left: calc(0.5rem * 16) !important;
}

.pl-17 {
  padding-left: calc(0.5rem * 17) !important;
}

.pl-18 {
  padding-left: calc(0.5rem * 18) !important;
}

.pl-19 {
  padding-left: calc(0.5rem * 19) !important;
}

.pl-20 {
  padding-left: calc(0.5rem * 20) !important;
}

/*=======================================
            Paddings - End
=======================================*/
/*=======================================
            Positions - Start
=======================================*/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

/*=======================================
            Paddings - End
=======================================*/
/*=======================================
                Pages
=======================================*/
/*=======================================
            Base - Start
=======================================*/
html {
  font-size: 10px !important;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem !important;
}

/*=======================================
            Base - End
=======================================*/
/*=======================================
            Credits - Start
=======================================*/
.header_top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background: #07043B;
}

.header_top p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #ffffff;
}

.header_top p a {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #3DA08F;
  text-decoration: none;
}

/*=======================================
            Credits - Start
=======================================*/
/*=======================================
            NavBar - Start
=======================================*/
.header {
  height: 100vh;
}

.header_navbar {
  padding: 3.5rem 8rem;
}

.header_navbar-logo img {
  width: 166px;
  height: 49px;
}

.header_navbar-nav ul li {
  margin: 0 0 0 5.7rem;
}

.header_navbar-nav ul li a {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #07043B;
  text-decoration: none;
}

/*=======================================
            Responsive Design Start
=======================================*/
@media only screen and (max-width: 992px) {
  .header_navbar {
    padding: 2.4rem;
  }
  .header_navbar-logo img {
    width: 80px;
    height: 24px;
  }
  .header_navbar-nav ul li {
    margin: 0 0 0 0.6rem;
  }
  .header_navbar-nav ul li a {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}

@media only screen and (max-width: 375px) {
  .header_navbar-nav ul li a {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

/*=======================================
            NavBar - End
=======================================*/
/*=======================================
                Home - Start
=======================================*/
.header_home {
  padding: 1rem;
  margin-top: 12rem;
}

.header_home_wrapper {
  display: flex;
  justify-content: space-between;
}

.header_home-primary h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  color: #07043B;
}

.header_home-primary p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #07043B;
}

.header_home-primary-contact button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  background: #2F65F8;
  color: #ffffff;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 3.125px;
  -webkit-border-radius: 3.125px;
  -moz-border-radius: 3.125px;
  -ms-border-radius: 3.125px;
  -o-border-radius: 3.125px;
}

.header_home-secondary img {
  max-width: 640px;
  max-height: 474;
  width: 100%;
  height: 100%;
}

/*=======================================
            Responsive Design Start
=======================================*/
@media only screen and (max-width: 992px) {
  .header_home {
    margin-top: 0;
  }
  .header_home_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header_home-primary h1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .header_home-primary p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
  }
  .header_home-primary-contact button {
    font-size: 1.3rem;
    line-height: 1.6rem;
    background: #2F65F8;
    color: #ffffff;
  }
}

@media only screen and (max-width: 576px) {
  .header_home_wrapper {
    margin-top: 2rem;
  }
  .header_home-primary-contact {
    flex-direction: column;
  }
  .header_home-primary-contact button {
    font-size: 1.3rem;
    line-height: 1.6rem;
    background: #2F65F8;
    color: #ffffff;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .header_home-primary h1 {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
  .header_home-primary p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
  }
  .header_home-primary-contact {
    flex-direction: column;
  }
  .header_home-primary-contact button {
    font-size: 1.3rem;
    line-height: 1.6rem;
    background: #2F65F8;
    color: #ffffff;
  }
}

/*=======================================
                Home - End
=======================================*/
/*=======================================
            Features - Start
=======================================*/
.features {
  position: relative;
  height: 100vh;
  background: #F8F8FE;
  padding: 1rem;
}

.features_bg {
  position: absolute;
  left: 0%;
  top: -10%;
  width: 100%;
  height: 10%;
  z-index: -1;
}

.features_wrapper {
  display: flex;
  justify-content: space-between;
}

.features_primary-content h2 {
  font-family: "Raleway", sans-serif;
  font-size: 4.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  color: #07043B;
}

.features_primary-content p {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #07043B;
}

.features_primary-content a {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #3DA08F;
  text-decoration: none;
  position: relative;
}

.features_primary-content a::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  height: 1px;
  width: 180px;
  background: #71DFCC;
}

.features_primary-card {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
  border-radius: 5px;
  padding: 1.2rem 3.3rem 2.6rem;
  margin: 5rem 0 5rem;
}

.features_primary-card i {
  font-size: 3rem;
  line-height: 6rem;
  color: #07043B;
}

.features_primary-card p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #07043B;
}

.features_primary-card-author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.features_primary-card-author-info h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  color: #07043B;
}

.features_primary-card-author-info p {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  color: #07043B;
}

.features_secondary img {
  max-width: 542px;
  max-height: 409;
  width: 100%;
  height: 100%;
}

/*=======================================
            Responsive Design Start
=======================================*/
@media only screen and (max-width: 992px) {
  .features {
    padding: 3rem 0 0 0;
  }
  .features_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .features_primary {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features_primary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features_primary-card {
    margin: 5rem 0 13rem;
  }
}

@media only screen and (max-width: 375px) {
  .features_primary-card {
    margin: 5rem 0 30rem;
  }
  .features_secondary img {
    margin-top: 16rem;
  }
}

/*=======================================
            Features - End
=======================================*/
/*=======================================
               Team - Start
=======================================*/
.team {
  max-height: 70vh;
  height: 100%;
  padding: 3rem;
  background: #575988;
}

.team_wrapper {
  display: flex;
  justify-content: space-between;
}

.team_primary h2 {
  font-family: "Raleway", sans-serif;
  font-size: 4.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6rem;
  color: #ffffff;
}

.team_primary p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  color: #ffffff;
}

.team_secondary input {
  max-width: 480px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.team_secondary button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.6rem;
  background: #2F65F8;
  color: #ffffff;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 3.125px;
  padding: 1rem;
}

/*=======================================
            Responsive Design Start
=======================================*/
@media only screen and (max-width: 992px) {
  .team_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) and (max-width: 992px) {
  .team_wrapper .team_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .team_wrapper .team_secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  .team_secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*=======================================
            Team - End
=======================================*/
/*=======================================
            Footer - Start
=======================================*/
.footer {
  padding: 3rem;
  background: #07043B;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

.footer_content li {
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.footer_content li a {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.footer_content li a i {
  margin: 0 1rem 0 0;
}

.footer_content li:last-child {
  display: inline;
}

.footer_content li:last-child i {
  font-size: 1.3rem;
  padding: 1rem;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*=======================================
            Footer - End
=======================================*/
